%header#header
  %h2 #header
  %p 100%x60px

#drw-btn
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%nav#nav-menu
  %ul
    %li= link_to 'top', '/'
    %li= link_to 'about', '/'
    %li= link_to 'gallery', '/'
    %li= link_to 'contact', '/'

#drw-layer
