---
title: top
---
.content1
  %h2 contents 1
  %p 可変x500

.content-2column
  .inner-content
    %h2 inner content
    %p 可変x300

  .inner-content
    %h2 inner content
    %p 可変x300

.content-3column
  .inner-content
    %h2 inner content
    %p 可変x300

  .inner-content
    %h2 inner content
    %p 可変x300

  .inner-content
    %h2 inner content
    %p 可変x300
